.gradient {
  background: linear-gradient(to bottom, #141e30, #243b55);
}

.myVid {
  margin: auto;
  width: 100vw;
}
.myVid iframe {
  position: absolute;
  top: 0%;
  left: 0%;

  transform: translate(-0%, 0%);
}

.myText {
  z-index: 1;
  padding-top: 10%;
  max-width: 100vw;
  color: rgb(235, 241, 241);
}

.radial-gradient-text {
  z-index: 10;
  background: radial-gradient(
    ellipse at center,
    transparent 0,
    transparent 30%,
    #000 138%,
    #000 0
  );
  background-size: cover;
  background-position: center;
}
.linear-gradient-text {
  z-index: 2;
  background: linear-gradient(
    180deg,
    transparent 0,
    transparent 75%,
    rgba(0, 0, 0, 0.3) 80%,
    rgba(0, 0, 0, 0.2) 90%,
    #000
  );
}

@media (min-aspect-ratio: 16/9) {
  .myVid iframe {
    height: 57vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .myVid iframe {
    height: 177vw;
  }
}
@media (min-aspect-ratio: 4/3) {
  .myVid iframe {
    height: 56vw;
    width: 100%;
  }
}
@media (max-aspect-ratio: 4/3) {
  .myVid iframe {
    height: 115vw;
    width: 177%;
  }
}
